<section class="categories_new" >

  <div class="navigation">
    <%= link_to categories_path, class: "hamburger-back" do %>
    <div>
     <span class="hamburger">&#10092;</span>
    </div>
    <% end %>
     <h1 class="nav_title">Create new Category</h1>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-out-butt" %>
  </div>
  <div>
     <%= render "form", category: @category %>
  </div> 

</section>
